<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InveonEntities" connectionString="metadata=res://*/Concrete.EntityFramework.InveonContext.csdl|res://*/Concrete.EntityFramework.InveonContext.ssdl|res://*/Concrete.EntityFramework.InveonContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql2012.isimtescil.net;initial catalog=st479_db;user id=st479_usr;password=Qn6$uv05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />



    <!--<add name="InveonEntities" connectionString="metadata=res://*/InveonContext.csdl|res://*/InveonContext.ssdl|res://*/InveonContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql2012.isimtescil.net;initial catalog=st479_db;persist security info=True;user id=st479_usr;password=Qn6$uv05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="server=sql2012.isimtescil.net;database=st479_db;User Id=st479_usr;Password=Qn6$uv05;persist security info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>