* {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
     box-sizing: border-box; 
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.main-container {
    min-height: 580px;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.fa-info-circle:before {
    content: "\f05a";
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cart-right-panel .contentBox {
    margin-bottom: 0px !important;
}

.cart-right-panel .contentBox {
    margin-bottom: 15px;
}
.width100, .w100 {
    width: 100%;
}

.w100 {
    width: 100% !important;
}

.width100, .w100 {
    width: 100%;
}
.cart-summary-container {
    border: 1px solid #DDDDDD;
    padding: 10px;
}
.cart-summary {
    margin-top: 0;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.cart-summary tr td:nth-child(2) {
    text-align: right;
}

.cart-summary tr:first-child td {
    border: none;
}

.cart-summary-container table > tbody > tr > td {
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: middle;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.cart-summary tr td {
    vertical-align: middle;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #454545;
    display: block;
}

td, th {
    padding: 0;
}

.text-success {
    color: #3c763d;
}

.btn.btn-lg {
    font-size: 16px;
    line-height: 1.471;
    padding: 10px 20px;
    transition: all 0.2s linear;
    border-radius: 5px;
}
.btn.btn-primary, .btn.btn-danger, .btn.btn-default, .btn.btn-success, .btn.btn-info, .btn.btn-warning, .btn.btn-fb, .btn.btn-tw {
    font-weight: 600;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    -o-text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    -ms-text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}
.btn-success {
    background-color: #2ecc71;
    color: #ffffff;
    border: 2px solid #2ecc71;
}
.btn-block {
    display: block;
    width: 100%;
}
table {
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cart-summary .site-color {
    color: #000 !important;
}

.cart-summary .total-price {
    font-size: 22px;
    font-weight: bold;
}










@media (min-width: 1200px) {
    .col-lg-18 {
         width: 75%;
    }
}
@media (min-width: 1200px){ 
    .col-lg-6 {
         width: 25%;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
    .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16,
    .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24 {
         float: left;
    }
}
@media (min-width: 992px) {
    .col-md-16 {
         width: 66.66666667%;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
    .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17,
    .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24 {
         float: left;
    }
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7,.col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13,
.col-sm-13, .col-md-13,.col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, 
.col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17,
.col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19,.col-lg-19
, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22,
.col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, 
.col-md-24, .col-lg-24 {
    position: relative;
    min-height: 1px; 
    padding-left: 10px; 
    padding-right: 10px;
}

